body{
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}


main{
    height: 1050px;
    background-color: rgb(78, 78, 78); ;
    display: flex;
    justify-content: center;
}

p {
    margin-left: 5px;
}

/* Grand Container */ 


.container{ 
    width: 650px;
    height: 800px;
    /* background-color: rgb(77, 32, 32);  */
    display: flex;
    flex-direction: column ;
}

/* Titre  */
#titre{
    text-align: center; 
}


h1{
    font-family: 'Abril Fatface', serif;
    background-color: rgb(203, 230, 203);
    box-shadow: 3px 1px 20px 3px rgb(18, 17, 17);
    border-radius: 50px;
    height: 60px;
}



/* Partie Taches réalisées  */ 

#added-list{
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    box-shadow: 3px 1px 20px 3px rgb(18, 17, 17);
}




.list{
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    height: 50px;
    margin: 3px;
    margin-right: 50px;    
}

button{
    width: 50px;
    height: 50px;
    
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
     
}



.list p {
    width: 550px;
    height: 20px;
    display: flex;
   
}


/* style qui s'applique quand on clique sur la tache validée */
.newStyle{
    text-decoration-line: line-through;
    font-weight: bold;   
}


.changeBackgroundColorParentNode{
    background-color: rgb(180, 180, 180);
}


/* Partie Ajouter une tâches */

#new-task{
    margin-top: 15px;
    background-color: rgb(203, 230, 203);
    box-shadow: 3px 1px 20px 3px rgb(18, 17, 17);
    height: 100px;
    border-radius: 20px;
}


form {
    height: 25px;
    display: flex;
    flex-direction: row;
}

label{
    width : 120px ;
}


#task{
    width: 520px;
    margin-left: 5px;
    
}

#submit{
    width: 95px;
    margin-left: 3px;
    margin-right: 5px;
   
}


@media (max-width: 679px){
     main{
        width: 100%;
        height: 100%;
    } 
    .container{
        width: 100%;
        height: 100%;
    } 

    form{
        display: flex;
        flex-direction: column;
    }

    #task{
        width: 100%;
        margin: 0 ;
    }
    #submit {
        width: 100%;
        margin: 0 ;
    }
   

    #added-list{
        height: 400px;
    }

}


@media (min-width: 680px) and (max-width: 959px){


}
